.tab-content {
  display: inline-flex;
  align-content: center;
  
}

.tab_item {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}

.pets {
    width: 150px;
    height: 200px;
    
  }

  #cats .tab_item {

    position: relative;
    bottom: 200px;
  }
  
  .image-desc-cats {
    position: relative;
    bottom: -14px;
    right: 200px;
    height: 50px;
    width: 200px;
    height: 100px;
    white-space: nowrap; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  
  }