html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}
#cover {
    background: #222 url('../img/coorgmain.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-family: Kaushan Script;
}
#cover-caption {
    width: 100%;
}
#cover-head{
    text-align: left;
}
#namediv {
    padding-right: 5px;
}
#maildiv {
    padding-left: 5px;
    padding-right: 5px;

}
.navbar-brand img {
    padding-left: 30px;
    padding-right: 20px;
}
.nav-item {
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
} 
#btn {
    color: crimson;
}
.section-content {
    padding: 5rem 0;
}
.card-block h1{
    font-family: BenchNine;
}
.card-block p{
    color:#999;
    text-align: justify;
    font-size: 20px;
    font-family: Acme;
}     
#jumbo-container {
    background-color: black;
}
#jumbohead-lg {
    font-family: Fredericka the Great;
    color: whitesmoke;
}
#jumbohead-sm {
    font-family: BenchNine;
    color: bisque
}          
#carousel {
    font-family: Mali;
    font-size: 50px;
}
.carousel-caption h2{
    color: yellow;
}
#moreInfo {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;

}
#firsttab {
    font-family: Acme;
    color: lawngreen;
}
#secondtab{
    padding-left: 10px;
    font-family: Acme;
    color: green;
}
#secondrow{
    padding-top: 10px;
}
#modalhead{
    font-family: BenchNine;
}
#col-3 {
    padding-top: 25px;
}
#rowheader {
    font-family: Permanent Marker;
}
#rowcontent {
    font-size: 25px;
    font-family: Mali;
}
.map-container{
overflow:hidden;
padding-bottom:50%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
#listdisplay{
    display: inline;
}
footer li{
    display: inline;
}
#footer-main {
    margin-top: 5px;
    background: #222;
    color: white;
    font-size: 1.5rem;
    padding: 2.5rem 0; 
}