/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}



ul.unstyled {
	list-style: none;
	padding: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    padding-left: 10px;
    font-size: 24px;
}

#featuresHeading h2{
align-content: center;
text-align: center;
}

#featuresHeading .lead{
	text-align: center;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
	
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
	background: url('../img/med_1.jpg') top center no-repeat;
}

#slide2 {
	background: url('../img/med_img_2.png') top center no-repeat;
}

#slide3 {
	background: url('../img/med_img_3.jpg') top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */


.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	.thumbnail .price {
		font-size: 14px;
	}
	
	.thumbnail .price sup {
		font-size: 10px;
	}
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myCarousel .item { height: 310px; }
	
	#slide1 {
		background: url('../img/small_1.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../img/small_img_2.png') top center no-repeat;
	}
	
	#slide3 {
		background: url('../img/small_img_3.jpg') top center no-repeat;
	}
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.carousel-caption h4 {
		font-size: 22px;
	}
	
}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }
	
	#slide1 {
		background: url('../img/large_1.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../img/large_img_2.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../img/large_img_3.jpg') top center no-repeat;
	}

}

/*Jumbotron*/
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("https://bootstrapcreative.com/wp-bc/wp-content/uploads/2017/03/learning-story.png") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
	z-index:1;
	
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  margin-top: 5px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}
.jumbotron p{
    align-content: center;
    justify-content: center;
	font-family: 'Lobster', cursive;
	text-align: center;
    
   
}
.jumbotron a{
    text-align: center;
}

.tab-pane  p  .tab{
    margin-top: 20px;
    padding-top: 20px;
  }


/*footer*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

