# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
*.xml
*.js
*.txt
*.ico
*.webmanifest
*.md
404.html
icon.png
tile.png
tile-wide.png
.htaccess
.gitattributes
.editorconfig
js/
doc/