# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
*.txt
*.ico
*.webmanifest
*.xml
icon.png
404.html
title.png
title-wide.png
doc/