# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
404.html
icon.png
tile.png
tile-wide.png
doc/
favicon.ico
js/

*.txt
*.xml
site.webmanifest
