
#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}
.form-horizontal input[type=submit]
{
	background-color: red;
	text-transform: uppercase;
	text-align: center;
}
#myModal{
	background-color: black;
	opacity:0.8;
}
/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar {
	background-color:lightcyan;
}
#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
	
}
.navbar-brand img {
	width:150px;
    height:80px;
}
nav navbar-nav div
{
	margin-top:40px;
}
.navbar-nav>li>a
{
    margin-top:40px;
    color:black;
    font-family: Cambria, Cochin;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.navbar-nav>li>a:hover
{
   background-color: aliceblue;
   

} 
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
	background-color: black;
	opacity:0.8;
}

.carousel-caption h3 {
	font-size: 32px;
	text-transform:uppercase;
	color:yellow;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#myCarousel .item { height: 400px; }

#slide1 {
	background: url('../../images/bg_1.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/bg_2.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../images/bg_3.jpg') top center no-repeat;
}

.cws_divider, hr {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-bottom: 2px solid #ffc107;
}
#bigCallout {
	text-align: justify;
	line-height: 30px;
}
.jumbotron {
	margin-top: 5%;
	text-align: center
}

.well {
	background-color: blanchedalmond;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}
.facebook {
	width:20px;
	height:20px;
}

#download {
	margin-top: 40px;
}

#dominosImage {
	width: 120px;
	height: 20px;
}

#backgroundJumbotron {
	background: url(../../images/bg_4.jpg)
}
#backgroundJumbotron h1{
	
	
	font-family: 'Bree Serif', serif;
	background-color: #eee;
	opacity: .4;
}



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	.thumbnail .price {
		font-size: 14px;
	}
	
	.thumbnail .price sup {
		font-size: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myCarousel .item { height: 310px; }
	
	#slide1 {
		background: url('../../images/bg_1.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../images/bg_2.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../images/bg_3.jpg') top center no-repeat;
	}	
	.carousel-caption {
		font-size: 16px;
	}

	.carousel-caption h4 {
		font-size: 22px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }
	
	#slide1 {
		background: url('../../images/bg_1.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../images/bg_2.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../images/bg_3.jpg') top center no-repeat;
	}
}



